<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>
    <script>
      // Check if SVG is supported
      if (document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image", "1.1")) {
        document.documentElement.className += " svg";
      } else {
        document.documentElement.className += " no-svg";
      }
    </script>

  </head>

  <%
  var controllerClass = req.options.controller || "";
  controllerClass = controllerClass.replace(/\//g, " ");
  %>
  <body class="<%- controllerClass %> <%- req.options.action %>"
    data-config-assets='<%- JSON.stringify(sails.config.assets) %>'>

    <% flash.get('success').forEach(function (message) { %>
       <p style="color:green"><%= message %> <p>
    <% }) %>
    <% flash.get('error').forEach(function (message) { %>
       <p style="color:red"><%= message %> <p>
    <% }) %>

    <%- body %>
    <div id="modal-region" class="popup"></div>

    <script async src="<%- Util.toAssetsUrl('/js/main.js') %>"></script>
  </body>
</html>
