<div>
  <h4>Lists of apps</h4>
  <table class="gridtable">
    <tr>
      <th> App Name </th>
      <th> Description </th>
      <th> Secret Id </th>
      <th> Secret Key </th>
      <th> Redirect URL </th>
    </tr>
    <% for (var i=0; i < apps.length; i++) { %>
      <tr>
        <td><%- apps[i].name %></td>
        <td><%- apps[i].description %></td>
        <td><%- apps[i].secretId %></td>
        <td><%- apps[i].secretKey %></td>
        <td><%- apps[i].redirectUrl %></td>
      <tr>
    <% } %>
  </table>
  <br>
  <a href="/apps/new"><button class="button button-apps">Create App</button></a>
  <a href="/"><button class="button button-apps">Back</button></a>
</div>
